.wrapper {
  position: relative;
}

.header {
  display: grid;
  grid-template: 1fr / repeat(2, auto);
  height: 95svh;
  overflow: hidden;
  position: relative;

  .list {
    display: grid;
  }

  .item {
    clip-path: polygon(48px 0%, 100% 0%, calc(100% - 48px) 100%, 0% 100%);
    margin: 0 0 0 -48px;
    position: relative;
  }

  .imageWrapper {
    height: 100%;
  }

  .image {
    filter: drop-shadow(6px 6px rgba(#063f5c, 0.75));
    inset: 0;
    object-fit: cover;
    position: absolute;
  }
}

.aside {
  display: flex;
  height: calc(100% - 95svh);
  margin-top: -30px;
  padding: 0 min(3dvw, 30px);
  position: absolute;
  top: 95svh;
  width: 100%;

  .inner,
  .inner2 {
    align-items: center;
    backdrop-filter: blur(1px);
    background-color: rgba(#063f5c, 0.95);
    background-repeat: repeat;
    border: 4px solid #fff;
    border-radius: 50dvmax;
    color: rgba(#fff, 0.25);
    display: flex;
    height: 60px;
    justify-content: center;
    position: sticky;
    top: 12px;
    z-index: 1;
  }

  .inner {
    width: min(1280px, 100%);
    @media (max-width: 980px) {
      display: none;
    }
  }

  .list {
    display: flex;
    gap: 36px;
  }

  .link {
    color: #fff;
    font-size: 1.8rem;
    transition: 250ms;
  }

  .active {
    color: #6777ff;
  }

  .iconWrapper {
    inset: auto 4px auto auto;
    position: absolute;
  }

  .icon {
    height: 44px !important;
    width: 44px !important;
  }

  .inner2 {
    @media (min-width: 980px) {
      display: none;
    }
  }

  @media (min-width: 980px) {
    justify-content: center;
  }
  @media (max-width: 980px) {
    justify-content: flex-end;
  }
}

.footer {
  align-items: center;
  background-color: #063f5c;
  background-repeat: repeat;
  color: rgba(#fff, 0.25);
  display: flex;
  flex-direction: column;

  .copyright {
    color: #fff;
    font-size: 1.5rem;
    margin: -24px 0 60px;
  }
}
